In [2]:
import sqlite3
connection=sqlite3.connect('sample.db') #connet to the data
cursor=connection.cursor()

In [9]:
query='SELECT *FROM people LIMIT 10' #using the select statement
for result in cursor.execute(query):
    print(result)

(1, 'Brianna', 'Walker')
(2, 'Randall', 'Krause')
(3, 'Dustin', 'Garcia')
(4, 'Joe', 'Green')
(5, 'Jeffrey', 'Beck')
(6, 'Charles', 'Smith')
(7, 'Deborah', 'Rice')
(8, 'Debra', 'Juarez')
(9, 'Aaron', 'Higgins')
(10, 'Clayton', 'Davidson')

In [7]:
query='SELECT name FROM people LIMIT 10' #Here there is no * because we are selecting specifc item "name"
for result in cursor.execute(query):
    print(result)

('Brianna',)
('Randall',)
('Dustin',)
('Joe',)
('Jeffrey',)
('Charles',)
('Deborah',)
('Debra',)
('Aaron',)
('Clayton',)

In [12]:
#Extracting Distinct Data using SQL in python

In [17]:
query='SELECT name, surname FROM people ORDER BY name DESC' #This code arrange the 'name' and 'surname' in alphabertical order starting from Z
for result in cursor.execute(query):
    print (result)

('Zachary', 'Griffin')
('William', 'Medina')
('Victoria', 'King')
('Vanessa', 'Thomas')
('Tiffany', 'Williams')
('Tiffany', 'Reeves')
('Thomas', 'Dixon')
('Theresa', 'Collins')
('Teresa', 'Brown')
('Teresa', 'Johnson')
('Tamara', 'Wilson')
('Susan', 'Vasquez')
('Steven', 'Wolf')
('Stephanie', 'Walker')
('Stephanie', 'Johnson')
('Sherry', 'Adams')
('Shelly', 'Contreras')
('Shawn', 'Campbell')
('Savannah', 'Carrillo')
('Sarah', 'Heath')
('Ryan', 'Nguyen')
('Rick', 'Lyons')
('Richard', 'Martin')
('Rebecca', 'Rojas')
('Randall', 'Krause')
('Randall', 'Krause')
('Randall', 'Krause')
('Olivia', 'Costa')
('Nicolas', 'Stone')
('Nicholas', 'Torres')
('Michelle', 'Brock')
('Michael', 'Flores')
('Michael', 'Mccormick')
('Michael', 'Benton')
('Michael', 'Flores')
('Megan', 'Welch')
('Mckenzie', 'Collins')
('Marco', 'Stafford')
('Malik', 'Berry')
('Logan', 'Mcmahon')
('Lisa', 'Arias')
('Linda', 'Flores')
('Linda', 'Taylor')
('Larry', 'Gonzales')
('Kyle', 'Orozco')
('Kristy', 'Thompson')
('Kristina', 'Cannon')
('Kristen', 'Mills')
('Kristen', 'Porter')
('Krista', 'Martin')
('Kelsey', 'Bartlett')
('Kayla', 'Nichols')
('Kara', 'Johnson')
('Joshua', 'Lynch')
('Joshua', 'Mcintosh')
('Joseph', 'Brown')
('Joseph', 'Johnson')
('Johnny', 'West')
('Johnny', 'West')
('Johnny', 'West')
('Johnny', 'Dorsey')
('John', 'Lopez')
('Joe', 'Green')
('Joe', 'Green')
('Joe', 'Green')
('Jessica', 'Dalton')
('Jessica', 'Hernandez')
('Jeremy', 'Anderson')
('Jennifer', 'Krueger')
('Jennifer', 'Phillips')
('Jeffrey', 'Beck')
('Jeffrey', 'Beck')
('Jeffrey', 'Beck')
('Jeffrey', 'Harris')
('Jason', 'Wilson')
('Jamie', 'Wang')
('James', 'Cummings')
('Jacob', 'Thomas')
('Hunter', 'James')
('Heather', 'Bennett')
('Gloria', 'Orozco')
('Glenn', 'Murphy')
('Gina', 'Barnes')
('Gina', 'Chavez')
('George', 'Rowe')
('Gabriel', 'Ramirez')
('Evelyn', 'Rios')
('Erin', 'Gilbert')
('Elizabeth', 'Meyers')
('Dustin', 'Garcia')
('Dustin', 'Garcia')
('Dustin', 'Garcia')
('Douglas', 'Moses')
('Donna', 'Hamilton')
('Debra', 'Juarez')
('Debra', 'Juarez')
('Debra', 'Juarez')
('Deborah', 'Rice')
('Deborah', 'Rice')
('Deborah', 'Rice')
('Daniel', 'Schwartz')
('Daniel', 'Schwartz')
('Daniel', 'Schwartz')
('Daniel', 'Hill')
('Crystal', 'Rogers')
('Clayton', 'Davidson')
('Clayton', 'Davidson')
('Clayton', 'Davidson')
('Christopher', 'Peterson')
('Christopher', 'Hall')
('Christopher', 'Hernandez')
('Christopher', 'Boyer')
('Christine', 'Davis')
('Christie', 'Washington')
('Charles', 'Smith')
('Charles', 'Smith')
('Charles', 'Smith')
('Cassandra', 'Watson')
('Brianna', 'Walker')
('Brianna', 'Walker')
('Brianna', 'Walker')
('Briana', 'Garcia')
('Brian', 'Jackson')
('Brandon', 'Roberts')
('Beth', 'Brown')
('Ashley', 'Cox')
('Arthur', 'Ellis')
('Anthony', 'Bailey')
('Anthony', 'Bailey')
('Anthony', 'Bailey')
('Andrew', 'Hartman')
('Andrea', 'Carpenter')
('Amy', 'Obrien')
('Allison', 'Martinez')
('Alexander', 'Mendoza')
('Alexander', 'Mendoza')
('Alexander', 'Mendoza')
('Aaron', 'Higgins')
('Aaron', 'Higgins')
('Aaron', 'Higgins')

In [19]:
query='SELECT name, surname FROM people WHERE name ="James"' #We use don't use single quote for codes inside the querry#We want to SELECT distint data, here we select nmaes called James
for result in cursor.execute(query):
    print (result)

('James', 'Cummings')

In [26]:
#Searching with SQL
query='SELECT name,surname FROM people WHERE name LIKE "%es%"' #the 1st % indicates everything before es is valid and the 2nd % means anything after es is valid #we want to find anything that ends in es
for result in cursor.execute(query):
    print(f"First name:{result[0]}, Lastname:{result[1]}")

First name:Charles, Lastname:Smith
First name:Charles, Lastname:Smith
First name:Charles, Lastname:Smith
First name:Jessica, Lastname:Dalton
First name:Teresa, Lastname:Brown
First name:Teresa, Lastname:Johnson
First name:Theresa, Lastname:Collins
First name:Vanessa, Lastname:Thomas
First name:James, Lastname:Cummings
First name:Jessica, Lastname:Hernandez

In [27]:
#Searching with SQL
query='SELECT name,surname FROM people WHERE name LIKE "%s___"' #anything before an s and a three character
for result in cursor.execute(query):
    print(f"First name:{result[0]}, Lastname:{result[1]}")

First name:Dustin, Lastname:Garcia
First name:Dustin, Lastname:Garcia
First name:Dustin, Lastname:Garcia
First name:Jessica, Lastname:Dalton
First name:Kristen, Lastname:Mills
First name:Crystal, Lastname:Rogers
First name:Kristen, Lastname:Porter
First name:Christie, Lastname:Washington
First name:Joshua, Lastname:Lynch
First name:Joseph, Lastname:Brown
First name:Joshua, Lastname:Mcintosh
First name:Jessica, Lastname:Hernandez
First name:Joseph, Lastname:Johnson