In [39]:
from faker import Faker
fake=Faker()
names=[fake.name().split() for i in range(100)]
names=[name for name in names if len(name)==2]
names

[['Gina', 'Barnes'],
 ['Christopher', 'Peterson'],
 ['Nicolas', 'Stone'],
 ['Olivia', 'Costa'],
 ['Andrew', 'Hartman'],
 ['Donna', 'Hamilton'],
 ['Jessica', 'Dalton'],
 ['Kristen', 'Mills'],
 ['Christopher', 'Hall'],
 ['Crystal', 'Rogers'],
 ['Jacob', 'Thomas'],
 ['Rebecca', 'Rojas'],
 ['Jamie', 'Wang'],
 ['Teresa', 'Brown'],
 ['Michelle', 'Brock'],
 ['Amy', 'Obrien'],
 ['Jennifer', 'Krueger'],
 ['Thomas', 'Dixon'],
 ['Teresa', 'Johnson'],
 ['Gabriel', 'Ramirez'],
 ['Tamara', 'Wilson'],
 ['Theresa', 'Collins'],
 ['Christine', 'Davis'],
 ['William', 'Medina'],
 ['George', 'Rowe'],
 ['Krista', 'Martin'],
 ['Jeffrey', 'Harris'],
 ['Evelyn', 'Rios'],
 ['Michael', 'Flores'],
 ['Tiffany', 'Williams'],
 ['Michael', 'Mccormick'],
 ['Heather', 'Bennett'],
 ['Kristen', 'Porter'],
 ['Nicholas', 'Torres'],
 ['Linda', 'Flores'],
 ['Arthur', 'Ellis'],
 ['Victoria', 'King'],
 ['Christie', 'Washington'],
 ['Shelly', 'Contreras'],
 ['Glenn', 'Murphy'],
 ['Stephanie', 'Walker'],
 ['Stephanie', 'Johnson'],
 ['Vanessa', 'Thomas'],
 ['Megan', 'Welch'],
 ['Elizabeth', 'Meyers'],
 ['Joshua', 'Lynch'],
 ['Logan', 'Mcmahon'],
 ['Joseph', 'Brown'],
 ['Christopher', 'Hernandez'],
 ['Ryan', 'Nguyen'],
 ['Beth', 'Brown'],
 ['Shawn', 'Campbell'],
 ['Sarah', 'Heath'],
 ['Ashley', 'Cox'],
 ['John', 'Lopez'],
 ['Cassandra', 'Watson'],
 ['Gina', 'Chavez'],
 ['James', 'Cummings'],
 ['Steven', 'Wolf'],
 ['Briana', 'Garcia'],
 ['Michael', 'Benton'],
 ['Linda', 'Taylor'],
 ['Malik', 'Berry'],
 ['Joshua', 'Mcintosh'],
 ['Kayla', 'Nichols'],
 ['Kelsey', 'Bartlett'],
 ['Brian', 'Jackson'],
 ['Kristy', 'Thompson'],
 ['Jeremy', 'Anderson'],
 ['Susan', 'Vasquez'],
 ['Erin', 'Gilbert'],
 ['Richard', 'Martin'],
 ['Mckenzie', 'Collins'],
 ['Jessica', 'Hernandez'],
 ['Kristina', 'Cannon'],
 ['Tiffany', 'Reeves'],
 ['Christopher', 'Boyer'],
 ['Jason', 'Wilson'],
 ['Michael', 'Flores'],
 ['Joseph', 'Johnson'],
 ['Sherry', 'Adams'],
 ['Allison', 'Martinez'],
 ['Marco', 'Stafford'],
 ['Kyle', 'Orozco'],
 ['Savannah', 'Carrillo'],
 ['Gloria', 'Orozco'],
 ['Daniel', 'Hill'],
 ['Hunter', 'James'],
 ['Lisa', 'Arias'],
 ['Rick', 'Lyons'],
 ['Zachary', 'Griffin'],
 ['Andrea', 'Carpenter'],
 ['Brandon', 'Roberts'],
 ['Larry', 'Gonzales'],
 ['Johnny', 'Dorsey'],
 ['Kara', 'Johnson'],
 ['Douglas', 'Moses'],
 ['Jennifer', 'Phillips']]

In [42]:
import sqlite3
connection=sqlite3.connect("sample.db") #creating a connection with the database

In [41]:
insert_query= 'INSERT INTO people(name,surname) VALUES(?,?)'
cursor=connection.cursor()
for name in names:
    cursor.execute(insert_query,name)

connection.commit()

In [44]:
select_query= "SELECT *from people LIMIT 10"
for i in cursor.execute(select_query):
    print(i)

(1, 'Brianna', 'Walker')
(2, 'Randall', 'Krause')
(3, 'Dustin', 'Garcia')
(4, 'Joe', 'Green')
(5, 'Jeffrey', 'Beck')
(6, 'Charles', 'Smith')
(7, 'Deborah', 'Rice')
(8, 'Debra', 'Juarez')
(9, 'Aaron', 'Higgins')
(10, 'Clayton', 'Davidson')